<div *ngIf="favorites?.length! > 0; else noData" class="product-container">
    <mat-card *ngFor="let favoriteProduct of favorites">
        <mat-card-header>
            <div class="card-header-content">
                <div>
                    <mat-card-title>{{ favoriteProduct.title }}</mat-card-title>
                    <mat-card-subtitle>{{ favoriteProduct.brand }} - {{ favoriteProduct.category }}</mat-card-subtitle>
                </div>
                <button mat-icon-button color="warn" (click)="removeFromFavorites(favoriteProduct.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-header>

        <mat-card-content>
            <p>{{ favoriteProduct.description }}</p>
            <p><strong>Price:</strong> ${{ favoriteProduct.price }}</p>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #noData>
    <p>No products available.</p>
</ng-template>