<mat-toolbar color="primary" class="app-header">
    <button class="app-title" (click)="goToProducts()">Shopping App</button>
    <span class="spacer"></span>
    <button *ngIf="!isAuthenticated" mat-icon-button aria-label="Login" (click)="onLogin()">
        <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="isAuthenticated" mat-icon-button aria-label="Favorites" (click)="onViewFavorites()">
        <mat-icon>favorite</mat-icon>
    </button>
    <button *ngIf="isAuthenticated" mat-icon-button aria-label="Basket" (click)="onViewBasket()">
        <mat-icon>shopping_basket</mat-icon>
    </button>
</mat-toolbar>